
<div class="container">
  <div class="row justify-content-center">
    <div class="profile-form">
      <%= simple_form_for(@profile, url: profile_path(@profile), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :user_name %>
          <%= f.input :description, placeholder: "min. 100 characters" %>
          <%= f.input :diet %>
          <%= f.input :photo, as: :file %>
          <%= f.input :location %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="d-flex mt-3 justify-content-between align-items-center">
            <div class="button-main-hover form-actions">
              <%= f.button :submit, "Update", data: { action: 'click->profile#revealProfile' } %>
            </div>
            <i class="fa-solid fa-xmark justify-content-center" data-action="click->profile#revealProfile"></i>
          </div>
      <% end %>
    </div>
  </div>
</div>
