<div class="recipe-show">
  <div class="left">
    <div class="recipe-titel">
      <%= @recipe.name %>
    </div>
    <div class="recipe-points">
      <p class="recipe-category"><i class="fa-solid fa-globe"> </i> <%= @recipe.category %></p>
      <p class="recipe-difficulty"><i class="fa-solid fa-dumbbell"> </i> <%= @recipe.difficulty %></p>
      <p class="recipe-servings"><i class="fa-solid fa-utensils"> </i> <%= @recipe.servings %></p>
      <p class="recipe-cook-time"><i class="fa-solid fa-hourglass-half"></i> <%= @recipe.cooking_time %> mins</p>
    </div>
    <div class="recipe-image" style="background-image: url('<%= @recipe.image.nil? ? cl_image_path(@recipe.photo.key) : image_path(@recipe.image) %>');">
    </div>
  </div>

  <p class="recipe-instructions"><%= @recipe.instructions %></p>
</div>
