<div class="dashboard-container">
  <div class="kitchen" data-action="click->container#revealKitchen">
      <a>Kitchen</a>
  </div>
  <div class="cookbook" data-action="click->container#revealCookbook">
      <a>Cookbook</a>
  </div>
  <div class="explore" data-action="click->container#revealExplore">
      <a>Explore</a>
  </div>
  <div class="profile" data-action="click->container#revealProfile">
    Profile
  </div>

  <div class="dashboard-fridge">
    <ul>
      <% @user_ingredients.uniq(&:ingredient_id).each do |ui| %>
        <div class="ingredient <%= user_has_ingredient_class(ui.ingredient_id) %>">
          <%= ui.ingredient.name %>
        </div>
      <% end %>
    </ul>
  </div>
    <div class="search">
      <div class="recipe-icons">
        <%= link_to dashboard_path(@dashboard) do %>
          <i class="fa-solid fa-arrow-left-long">
          </i>
        <% end %>
        <div>
          <% if @my_favorites.include?(@recipe) %>
            <%= link_to unfavorite_path(id: @recipe), remote: true do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
            <% else %>
            <%= link_to favorite_path(id: @recipe) do %>
            <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="cards">
      <%= render "recipe-show", locals: {recipe: @recipe} %>
    </div>
  <div class="footer"></div>
</div>
