
<div class="dashboard-container" data-controller="container highlight-ingredients">
<div class="kitchen">
    <a>Kitchen</a>
  </div>
  <div class="cookbook">
    <%= link_to "Cookbook", dashboard_path(target: "Cookbook") %>
  </div>
  <div class="explore">
    <%= link_to "Explore", dashboard_path(target: "Explore") %>
  </div>
  <div class="dashboard-refridgerator"></div>
  <div class="profile">
    <%= link_to "Profile", dashboard_path(target: "Profile") %>
  </div>
<div class="dashboard-fridge">
  <ul>
    <% @user_ingredients.uniq(&:ingredient_id).each do |ui| %>
      <div class="ingredient <%= user_has_ingredient_class(ui.ingredient_id) %>">
        <%= ui.ingredient.name %>
      </div>
    <% end %>
  </ul>
</div>
  <div class="search">
      <%= form_with(model: @user, url: { action: "add_ingredient" }, method: "post") do |form| %>
    <%= form.collection_select :ingredient_id, @ingredients, :id, :name, { prompt: 'Select an ingredient' } %>
    <%= form.submit "Add Ingredient" %>
  <% end %>
  </div>
  <div class="cards">

<%= render "recipe-show", locals: {recipe: @recipe} %>

 </div>
  <div class="footer"></div>
</div>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to "Delete", recipe_path(@recipe), data: {turbo_method: :delete, confirm: 'Are you sure?'}  %>
<%= link_to 'Back', recipes_path %>
