<div class="dashboard-container">
  <div class="cookbook">
      <%= link_to "Cookbook", dashboard_path %>
  </div>
  <div class="explore">
      <%= link_to "Explore", recipes_path %>
  </div>
   <div class="kitchen">
      <%= link_to "Kitchen", dashboard_path %>
  </div>
  <div class="dashboard-refridgerator"></div>
  <div class="dashboard-fridge">

  </div>
  <div class="search"></div>
  <div class="cards">

<%= render "recipe-show", locals: {recipe: @recipe} %>

 </div>
  <div class="footer"></div>
</div>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to "Delete", recipe_path(@recipe), data: {turbo_method: :delete, confirm: 'Are you sure?'}  %>
<%= link_to 'Back', recipes_path %>
