
<div class="dashboard-container" data-controller="container highlight-ingredients">
  <div class="kitchen">
    <%= link_to "Kitchen", dashboard_path %>
  </div>
  <div class="cookbook">
    <%= link_to "Cookbook", dashboard_path(target: "Cookbook") %>
  </div>
  <div class="explore">
    <%= link_to "Explore", dashboard_path(target: "Explore") %>
  </div>
  <div class="dashboard-refridgerator"></div>
  <div class="profile">
    <%= link_to "Profile", dashboard_path(target: "Profile") %>
  </div>
<div class="dashboard-fridge">
  <p class="recipe-ingredients">
        <% @ingredients.uniq(&:id).each do |ingredient| %>
          <% if @user_ingredients.map(&:ingredient_id).include?(ingredient.id) %>
            <span class="user-has-ingredient"><%= ingredient.name %></span><br>
          <% else %>
            <%= ingredient.name %><br>
          <% end %>
        <% end %>
      </p>
</div>
<div class="extra-div">  <div class="icon"><i class="fa-solid fa-arrow-up"></i></div>
  <div class="text">take me up</div></div>

  <div class="search">
    <div class="recipe-title">
      <span><%= @recipe.name %></span>
      <div>
        <% if @my_favorites.include?(@recipe) %>
          <%= link_to unfavorite_path(id: @recipe), remote: true do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to favorite_path(id: @recipe) do %>
          <i class="fa-regular fa-heart"></i>
          <% end %>
  <div class="dashboard-fridge">
    <ul>
      <% @user_ingredients.uniq(&:ingredient_id).each do |ui| %>
        <div class="ingredient <%= user_has_ingredient_class(ui.ingredient_id) %>">
          <%= ui.ingredient.name %>
        </div>
      <% end %>
    </ul>
  </div>
    <div class="search">
      <div class="recipe-icons">
        <%= link_to dashboard_path(@dashboard) do %>
          <i class="fa-solid fa-arrow-left-long">
          </i>
        <% end %>
        <div>
          <% if @my_favorites.include?(@recipe) %>
            <%= link_to unfavorite_path(id: @recipe), remote: true do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to favorite_path(id: @recipe) do %>
            <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="cards">
    <%= render "recipe-show", locals: {recipe: @recipe} %>
 </div>

  <div class="footer"></div>
</div>
