<div class="explore-container" data-controller="profile highlight-ingredients">
  <%= link_to kitchen_path do %>
    <div class="kitchen">
      Kitchen
    </div>
  <% end %>
  <%= link_to cookbook_path do %>
    <div class="cookbook">
      Cookbook
    </div>
  <% end %>

  <%= link_to explore_path do %>
    <div class="explore" style="<%= current_page?(explore_path) ? 'background-color: #DDEFD2;' : '' %>">
      Explore
    </div>
  <% end %>

  <div class="profile" data-profile-target="profileTab" data-action="click->profile#revealProfile">
    <span>Profile</span>
  </div>


  <div class="dashboard-fridge" data-profile-target="fridge">
    <ul data-user-ingredients="<%= current_user.ingredients.pluck(:name) %>" data-highlight-ingredients-target="ingredientUser">
      <span data-target="explanatoryCaption">Hover on a recipe<br>to see which ingredients are <br><span style="color:green">matching</span>,<br> and which ones are <br><span style="color:red">missing</span></span>
    </ul>
    <div class="counter" data-highlight-ingredients-target="matchingCounter">
      <span data-highlight-ingredients-target="count"></span>
    </div>
  </div>

  <%= render "shared/profile_dropdown" %>

<div class="extra-div">  <div class="icon"><i class="fa-solid fa-arrow-up"></i></div>
  <div class="text">take me up</div></div>


  <div class="search">
      <%= form_with url: explore_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "search__input",
              placeholder: "Search for recipes or any ingredient...",
              autocomplete: "off"
        %>
      <% end %>

      <%= link_to explore_path, data: { turbo_method: :get } do %>
        <i class="fa-solid fa-xmark"></i>
      <% end unless params[:query].blank? %>
  </div>


  <div class="cards">
    <div class="recipe-grid">
      <%= render partial: "explores/recipe-card", library: {recipe: @recipe} %>
    </div>
  </div>
  <div class="footer-dash"></div>

</div>
