<div class="dashboard-container">
  <div class="kitchen" data-action="click->container#revealKitchen">
      <a>Kitchen</a>
  </div>
  <div class="cookbook" data-action="click->container#revealCookbook">
      <a>Cookbook</a>
  </div>
  <div class="explore" data-action="click->container#revealExplore">
      <a>Explore</a>
  </div>
  <div class="profile" data-action="click->container#revealProfile">
    Profile
  </div>
  <div class="dashboard-fridge">
 <ul data-user-ingredients="<%= current_user.ingredients.pluck(:name) %>" data-highlight-ingredients-target="ingredientUser">
    <% @user_ingredients.uniq(&:ingredient_id).each do |ui| %>
      <div class="ingredient" data-ingredient-name="<%= ui.ingredient.name %>">
        <%= ui.ingredient.name %>
        <%= link_to user_ingredient_path(ui), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-xmark"></i>
        <% end %>
      </div>
    <% end %>
  </ul>
  </div>

  <div class="cards">
<div class="recipe-grid">
<%= render partial: "recipes/recipe-card", library: {recipe: @recipe} %>
</div>
  </div>
  <div class="footer"></div>
</div>
