<div class="profile-fridge d-none" data-container-target="showProfile">
  <div data-profile-target="editProfile">
      <%= link_to dashboard_path do %>
      <i class="fa-solid fa-xmark float-end"></i>
      <% end %>
    <div class="profile-card">
      <h2><%= @profile.user_name %></h2>
      <div class="profile-image" style="background-image: url('<%= @profile.profile_picture_url.nil? ? cl_image_path(@profile.photo.key) : image_path(@profile.image) %>');"></div>
    </div>
      <p class="profile-description"><%= @profile.description %></p>
      <p class="profile-attributes"><%= @profile.diet %></p>
      <p class="profile-attributes"><%= @profile.location %></p>
    <div id="profile-button">
      <div class="button-main mt-3" data-action="click->profile#revealPages">Edit</div>
      <%= link_to "Delete", profile_path(@profile), data: {turbo_method: :delete, confirm: 'Are you sure?'}, class: "button-main mt-3"  %>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-main mt-3" %>
    </div>
  </div>
</div>
