<div class="profile-container-closed" data-controller="profile" data-profile-target="container">
  <div class="kitchen" data-action="click->container#revealKitchen">
      <a>Kitchen</a>
  </div>
  <div class="cookbook" data-action="click->container#revealCookbook">
      <a>Cookbook</a>
  </div>
  <div class="explore" data-action="click->container#revealExplore">
      Explore
  </div>
  <div class="profile" data-action="click->container#revealProfile">
    Profile
  </div>


  <div class="pages" data-profile-target="editProfile">
    <div class="profile-card" id="profile-button">
      <div class="profile-image" style="background-image: url('<%= @profile.profile_picture_url.nil? ? cl_image_path(@profile.photo.key) : image_path(@profile.image) %>');"></div>
      <h2><%= @profile.user_name %></h2>
      <p class="profile-description"><%= @profile.description %></p>
      <p class="profile-attributes"><%= @profile.diet %></p>
      <p class="profile-attributes"><%= @profile.location %></p>
      <div class="button-main mt-3" data-action="click->profile#revealPages">Edit</div>
      <%= link_to "Delete", profile_path(@profile), data: {turbo_method: :delete, confirm: 'Are you sure?'}, class: "button-main mt-3"  %>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-main mt-3" %>
    </div>
  </div>


  <div class="pages d-none" data-profile-target="pages">
    <%= render 'profiles/form', profile: @profile %>
  </div>

  <div class="footer"></div>
</div>
