<div data-controller="container highlight-ingredients">
  <div>
    <div data-container-target="kitchen">
      <%= render "kitchen" %>
    </div>

    <div data-container-target="cookbook" class="<%= 'd-none' unless @target == "Cookbook" %>">
      <%= render "cookbook" %>
    </div>

    <div data-container-target="explore" class="<%= 'd-none' unless @target == "Explore" || @tab == "Explore" %>">
      <%= render "explore" %>
    </div>

    <% if user_signed_in? && !current_user.profile.nil? %>
      <div id="profile-container" data-container-target="profile" class="<%= 'd-none' unless @target == "Profile" %>">
        <%= render "profile" %>
      </div>
    <% end %>
  </div>
</div>
